.env
.history

*.wav
*.bin
*.zip
*.7z
*.tar.gz

venv
.idea
.git
__pycache__

vosk-model-it-0.22
vosk-model-small-it-0.22
models

readme.md
bot_main.py
other_requirements.txt
ailib
stt_complete

logs
*.log